---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid";

interface ItemData {
  id: string;
  color: string;
  shape: string;
}
---

<Layout title="wip">
  <main
    class="min-h-screen flex flex-col items-center justify-start p-5 space-y-6"
  >
    <Grid
      handleItemClick={(item: ItemData) => {
        console.log(item);
      }}
      initialItemData={[
        {
          id: "1",
          color: "red",
          shape: "circle",
        },
      ]}
      dims={{
        width: 3,
        height: 3,
      }}
    />
    <div class="rounded-lg h-64 w-5/6 bg-amber-500"></div>
  </main>
</Layout>
