---
import Layout from '../layouts/Layout.astro';
import LocalGame from '../components/LocalGame.tsx';
---

<Layout title="Local Game - Glyph">
  <main>
    <LocalGame client:load />
  </main>
</Layout>